{#
/**
 * @file
 * Varbase Components implementation for Bootstrap heroslider component.
 *
 * Available properites:
 * - id: Set a unique id on the heroslider for optional controls, especially if you’re using multiple herosliders on a single page.
 * - slide_component: A component name to render a slide. Default `varbase_components:card-hero`
 * - items: An array of slider items, Each item has (media, content) for the `slide_component` default `varbase_components:card-hero`
 *    - media: The media slot for the slide_component
 *    - content: The content slot for the slide_component
 * - controls: Add the previous/next controls.
 * - indicators: Add indicators to the heroslider, alongside the previous/next controls.
 * - utility_classes: An array of utility classes. Use to add extra Bootstrap utility classes or custom CSS classes over to the heroslider element.
 * - indicators_utility_classes: An array of utility classes. Use to add extra Bootstrap utility classes or custom CSS classes over to the indicators element.
 *
 * Available attributes:
 * - attributes: HTML attributes to apply to the heroslider main wrapper tag.
 * - indicators_attributes: HTML attributes to apply to the indicators wrapper tag.
 *
 * Available slots:
 * - N/A
 *
 */
#}
{% set utility_classes = utility_classes ?? [] %}
{% set indicators_utility_classes = indicators_utility_classes ?? [] %}

{%
  set heroslider_classes = [
    'heroslider',
    'slide',
  ]|merge(utility_classes)
%}

{% if not attributes %}
  {% set attributes = create_attribute() %}
{% endif %}

{% set attributes = attributes.addClass(heroslider_classes) %}
{% set attributes = attributes.setAttribute('id', id) %}
{% set attributes = attributes.setAttribute('data-bs-ride', 'true') %}

<div{{ attributes }}>
  {% if items %}

    {# Add indicators for the heroslider #}
    {% if indicators %}
      {% if not indicators_attributes %}
        {% set indicators_attributes = create_attribute() %}
      {% endif %}

      {%
        set indicators_classes = [
          'heroslider-indicators'
        ]|merge(indicators_utility_classes)
      %}

      {% set indicators_attributes = indicators_attributes.addClass(indicators_classes) %}

      <div{{ indicators_attributes}}>
        {% for key, item in items %}
          <button type="button" data-bs-target="#{{ id }}" data-bs-slide-to="{{ key }}" class="{{ (key == 0) ? 'active' }}" aria-label="{{ item.indicator_label }}" aria-current="{{ (key == 0) ? 'true' }}"></button>
        {% endfor %}
      </div>
    {% endif %}

    {# Add heroslider itmes #}
    <div class="heroslider-inner">
      {% for key, item in items %}
        <div class="heroslider-item {{ (key == 0) ? 'active' }}">
          {{ item }}
        </div>
      {% endfor %}
    </div>

    {# Add controls for the heroslider #}
    {% if controls %}
      <button class="heroslider-control-prev" type="button" data-bs-target="#{{ id }}" data-bs-slide="prev">
        <span class="heroslider-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">{{ 'Previous'|t }}</span>
      </button>
      <button class="heroslider-control-next" type="button" data-bs-target="#{{ id }}" data-bs-slide="next">
        <span class="heroslider-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">{{ 'Next'|t }}</span>
      </button>
    {% endif %}
  {% endif %}
</div>
