
{% set card_title_classes = [
  'card-title'
] %}

{% set card_subtitle_classes = [
  'card-subtitle'
] %}

{% set card_header_classes = [
  'card-header'
] %}

{% set card_footer_classes = [
  'card-footer'
] %}

{% set card_body_classes = [
  'card-body'
] %}

{% set card_text_classes = [
  'card-text'
] %}

{% set card_link_classes = [
  'card-link'
] %}

{% set utility_classes = utility_classes ? utility_classes : [] %}
{% set card_border = card_border ? ['border-0'] : [] %}

{% set card_classes = [
  'card',
  'h-100',
  'mb-3',
]|merge(utility_classes)|merge(card_border) %}

{% set card_attributes = create_attribute() %}
{% set card_body_attributes = create_attribute() %}
{% set card_text_attributes = create_attribute() %}
{% set card_title_attributes = create_attribute() %}
{% set card_header_attributes = create_attribute() %}
{% set card_footer_attributes = create_attribute() %}
{% set card_subtitle_attributes = create_attribute() %}
{% set card_image_attributes = create_attribute() %}
{% set card_link_attributes = create_attribute() %}

{% if card_image_alt %}
  {% set card_image_attributes = card_image_attributes.setAttribute('alt', card_image_alt ) %}
{% endif %}

{% set card_image_classes = [
  'img-fluid',
  'rounded-start',
] %}

<div {{ card_attributes.addClass(card_classes) }}>
  {% if card_header %}
    <div {{ card_header_attributes.addClass(card_header_classes) }}>
      {{ card_header }}
    </div>
  {% endif %}

  {% if card_image_overlays %}
    {% set card_image_attributes = card_image_attributes.setAttribute('src', card_image_src) %}
    {% include 'varbase_components:image' with {
        attributes: card_image_attributes,
        utility_classes: card_image_classes|merge(['card-img'])
      }
    %}
    {% set card_body_classes = [
      'card-img-overlay'
    ] %}
  {% endif %}

  {% if card_image_src and card_image_cap == 'top' and not card_image_overlays %}
    {% set card_image_attributes = card_image_attributes.setAttribute('src', card_image_src) %}
    {% include 'varbase_components:image' with {
        attributes: card_image_attributes,
        utility_classes: card_image_classes|merge(['card-img-top'])
      }
    %}
  {% endif %}

  <{{ card_body_tag }} {{ card_body_attributes.addClass(card_body_classes) }}>
    {% if card_title %}
      <{{ card_title_tag }} {{ card_title_attributes.addClass(card_title_classes) }}>{{ card_title }}</{{ card_title_tag }}>
    {% endif %}

    {% if card_subtitle %}
      <{{ card_subtitle_tag }} {{ card_subtitle_attributes.addClass(card_subtitle_classes) }}>{{ card_subtitle }}</{{ card_subtitle_tag }}>
    {% endif %}

    {% if card_body %}
      <{{ card_text_tag}}{{ card_text_attributes.addClass(card_text_classes) }}>
        {{ card_body }}
      </{{ card_text_tag}}>
    {% endif %}

    {% if card_text %}
      <{{ card_text_tag}}{{ card_text_attributes.addClass(card_text_classes) }}>
        {{ card_text }}
      </{{ card_text_tag}}>
    {% endif %}

    {% if card_link_url %}
      {% set card_link_attributes = card_link_attributes.setAttribute('href', card_link_url) %}
      <a{{ card_link_attributes.addClass(card_link_classes) }}>{{ card_link_text }}</a>
    {% endif %}
  </{{ card_body_tag }}>

  {% if card_image_src and card_image_cap == 'bottom' and not card_image_overlays %}
    {% set card_image_attributes = card_image_attributes.setAttribute('src', card_image_src) %}
    {% include 'varbase_components:image' with {
        attributes: card_image_attributes,
        utility_classes: card_image_classes|merge(['card-img-bottom'])
      }
    %}
  {% endif %}

  {% if card_footer %}
    <div {{ card_footer_attributes.addClass(card_footer_classes) }}>
      {{ card_footer }}
    </div>
  {% endif %}
</div>
