{#
/**
 * @file
 * Varbase Components implementation for a Overlay Card component.
 *
 * Available config:
 * - style_size: Card style size.
 * - card_border: Card Boarder (true/false)
 * - equal_height: Equal height (true/false)
 * - anchor_all: Anchor All (true/false)
 * - horizontal_alignment: Horizontal alignment (start, center, end)
 * - vertical_alignment: Vertical alignment (start, center, end)
 * - card_attributes: Drupal attributes for featured card wrapper.
 * - media_attributes: Drupal attributes for card media slot reagion.
 * - content_attributes: Drupal attributes for card content slot region.
 * - utility_classes: Use to add extra Bootstrap utility classes for the main Card wrapper. E.g. `mb-3 shadow-lg` ( Do not add card)
 * - media_utility_classes: Use to add extra Bootstrap utility classes for the Card Media region wrapper. E.g. `bg-secondary mb-3` ( Do not add card-image)
 * - content_utility_classes: Use to add extra Bootstrap utility classes for the Card Content region wrapper. E.g. `w-75 mb-3 overflow-y-hidden`  ( Do not add card-body)
 * - media: Card Media slot region.
 * - content: Card Content slot region.
 */
#}

{% set style_size = style_size ? [style_size]: [] %}
{% set vertical_alignment = vertical_alignment == '' ? [] : ['justify-content-' ~ vertical_alignment] %}
{% set contnet_horizontal_alignment = horizontal_alignment == '' ? [] : ['align-items-' ~ horizontal_alignment] %}
{% set text_horizontal_alignment = horizontal_alignmentv == '' ? [] : ['align-items-' ~ horizontal_alignment] %}
{% set utility_classes = utility_classes ? utility_classes : [] %}
{% set media_utility_classes = media_utility_classes ? media_utility_classes : [] %}
{% set content_utility_classes = content_utility_classes ? content_utility_classes : [] %}

{# Check if the Card has a boarder on not and set needed no border Bootstrap class #}
{% set card_border = card_border ? ['bordered'] : ['border-0'] %}

{# Check if the Card is using the Equal height #}
{% set equal_height = equal_height ? ['h-100'] : [] %}

{# Check if the Card is using the Anchor All #}
{% set anchor_all = anchor_all ? ['anchor-all'] : [] %}

{%
  set card_classes = [
    'card',
    'varbase-overlay-card'
  ]|merge(style_size)|merge(card_border)|merge(equal_height)|merge(anchor_all)|merge(utility_classes)
%}

{%
  set media_classes = []|merge(media_utility_classes)
%}

{%
  set content_classes = [
    'overlay-card-content',
    'card-img-overlay',
    'd-flex',
    'flex-column',
  ]|merge(vertical_alignment)|merge(contnet_horizontal_alignment)|merge(text_horizontal_alignment)|merge(content_utility_classes)
%}

{% if not card_attributes %}
  {% set card_attributes = create_attribute() %}
{% endif %}

{% if not content_attributes %}
  {% set content_attributes = create_attribute() %}
{% endif %}

<div{{ card_attributes.addClass(card_classes) }}>
  {% if media_classes is not empty %}
    {% if not media_attributes %}
      {% set media_attributes = create_attribute() %}
    {% endif %}
    <div{{ media_attributes.addClass(media_classes) }}>
  {% endif %}
    {{ media }}
  {% if media_classes is not empty %}
    </div>
  {% endif %}
  <div{{ content_attributes.addClass(content_classes) }}>
    {{ content }}
  </div>
</div>
