{#
/**
 * @file
 * Template for a Featured card component.
 *
 * Available config:
 * - style_size: Card style size (xsmall|small|medium|large|xlarge).
 * - card_border: Card Boarder (true/false)
 * - equal_height: Equal height (true/false)
 * - anchor_all: Anchor All (true/false)
 * - media_position: start|end to determine if the row is reversed or not.
 * - gutters_between: Gutters Between - (large|small-start|small-end|no) to manage the guttering between the start and end columns.
 * - columns_xs_size: All Breakpoints - Size of two columns for all devices. Starting from Extra small and up.
 * - columns_sm_size: Small Breakpoint size (sm) - Size of two columns for Small devices (landscape phones, 576px and up)
 * - columns_md_size: Medium Breakpoint size (md) - Size of two columns for Medium devices (tablets, 768px and up)
 * - columns_lg_size: Large Breakpoint size (lg) - Size of two columns for Large devices (desktops, 992px and up)
 * - columns_xl_size: Extra Large Breakpoint size (xl) - Size of two columns for X-Large devices (large desktops, 1200px and up)
 * - columns_xxl_size: Extra Extra Large Breakpoint size (xxl) - Size of two columns for XX-Large devices (larger desktops, 1400px and up)
 * - card_attributes: Drupal attributes for featured card wrapper.
 * - row_attributes: Drupal attributes for row.
 * - start_column_attributes: Drupal attributes for start column.
 * - end_column_attributes: Drupal attributes for end column.
 * - media_attributes: Drupal attributes for card media slot region.
 * - content_attributes: Drupal attributes for card content slot region.
 * - utility_classes: Use to add extra Bootstrap utility classes for the main Card wrapper. E.g. `mb-3 shadow-lg` ( Do not add card)
 * - media_utility_classes: Use to add extra Bootstrap utility classes for the Card Media region wrapper. E.g. `bg-secondary mb-3` ( Do not add card-image)
 * - content_utility_classes: Use to add extra Bootstrap utility classes for the Card Content region wrapper. E.g. `w-75 mb-3 overflow-y-hidden`  ( Do not add card-body)
 * - media: Card Media slot region.
 * - content: Card Content slot region.
 */
#}

{% set style_size = style_size ? [style_size]: [] %}
{% set media_position = media_position == 'end' ? ['flex-row-reverse'] : [] %}
{% set utility_classes = utility_classes ? utility_classes : [] %}
{% set media_utility_classes = media_utility_classes ? media_utility_classes : [] %}
{% set content_utility_classes = content_utility_classes ? content_utility_classes : [] %}

{# Mapping for the start column with selected column sizes on each brackpoint #}
{% set start_column_xs_size = columns_xs_size ? ['col-' ~ columns_xs_size|split("_")[0]|trim('0', 'left')] : [] %}
{% set start_column_sm_size = columns_sm_size ? ['col-sm-' ~ columns_sm_size|split("_")[0]|trim('0', 'left')] : [] %}
{% set start_column_md_size = columns_md_size ? ['col-md-' ~ columns_md_size|split("_")[0]|trim('0', 'left')] : [] %}
{% set start_column_lg_size = columns_lg_size ? ['col-lg-' ~ columns_lg_size|split("_")[0]|trim('0', 'left')] : [] %}
{% set start_column_xl_size = columns_xl_size ? ['col-xl-' ~ columns_xl_size|split("_")[0]|trim('0', 'left')] : [] %}
{% set start_column_xxl_size = columns_xxl_size ? ['col-xxl-' ~ columns_xxl_size|split("_")[0]|trim('0', 'left')] : [] %}

{# Mapping for the end column with selected column sizes on each brackpoint #}
{% set end_column_xs_size = columns_xs_size ? ['col-' ~ columns_xs_size|split("_")[1]|trim('0', 'left')] : [] %}
{% set end_column_sm_size = columns_sm_size ? ['col-sm-' ~ columns_sm_size|split("_")[1]|trim('0', 'left')] : [] %}
{% set end_column_md_size = columns_md_size ? ['col-md-' ~ columns_md_size|split("_")[1]|trim('0', 'left')] : [] %}
{% set end_column_lg_size = columns_lg_size ? ['col-lg-' ~ columns_lg_size|split("_")[1]|trim('0', 'left')] : [] %}
{% set end_column_xl_size = columns_xl_size ? ['col-xl-' ~ columns_xl_size|split("_")[1]|trim('0', 'left')] : [] %}
{% set end_column_xxl_size = columns_xxl_size ? ['col-xxl-' ~ columns_xxl_size|split("_")[1]|trim('0', 'left')] : [] %}

{# Check if the Card has a boarder on not and set needed no border Bootstrap class #}
{% set card_border = card_border ? ['bordered'] : ['border-0'] %}

{# Check if the Card is using the Equal height #}
{% set equal_height = equal_height ? ['h-100'] : [] %}

{# Check if the Card is using the Anchor All #}
{% set anchor_all = anchor_all ? ['anchor-all'] : [] %}

{%
  set card_classes = [
    'card',
    'varbase-featured-card',
  ]|merge(style_size)|merge(card_border)|merge(equal_height)|merge(anchor_all)|merge(utility_classes)
%}

{% set row_gutters_between = gutters_between == 'no' ? ['gx-0'] : [] %}
{%
  set row_classes = [
    'row',
  ]|merge(media_position|merge(row_gutters_between))
%}

{% set start_column_gutters_between = gutters_between == 'small-start' ? (media_position == [] ? ['pe-0'] : ['ps-0']) : [] %}
{%
  set start_column_classes = []|merge(start_column_xs_size)|merge(start_column_sm_size)|merge(start_column_md_size)|merge(start_column_lg_size)|merge(start_column_xl_size)|merge(start_column_xxl_size)|merge(start_column_gutters_between)
%}

{% set end_column_gutters_between = gutters_between == 'small-end' ? (media_position == [] ? ['ps-0'] : ['pe-0']) : [] %}
{%
  set end_column_classes = []|merge(end_column_xs_size)|merge(end_column_sm_size)|merge(end_column_md_size)|merge(end_column_lg_size)|merge(end_column_xl_size)|merge(end_column_xxl_size)|merge(end_column_gutters_between)
%}

{%
  set media_classes = []|merge(media_utility_classes)
%}

{%
  set content_classes = [
    'featured-card-content',
    'card-body',
  ]|merge(content_utility_classes)
%}

{% if not card_attributes %}
  {% set card_attributes = create_attribute() %}
{% endif %}

{% if not row_attributes %}
  {% set row_attributes = create_attribute() %}
{% endif %}

{% if not start_column_attributes %}
  {% set start_column_attributes = create_attribute() %}
{% endif %}

{% if not end_column_attributes %}
  {% set end_column_attributes = create_attribute() %}
{% endif %}

{% if not content_attributes %}
  {% set content_attributes = create_attribute() %}
{% endif %}

<div{{ card_attributes.addClass(card_classes) }}>
  <div{{ row_attributes.addClass(row_classes) }}>
    <div{{ start_column_attributes.addClass(start_column_classes) }}>
      {% if media_classes is not empty %}
        {% if not media_attributes %}
          {% set media_attributes = create_attribute() %}
        {% endif %}
        <div{{ media_attributes.addClass(media_classes) }}>
      {% endif %}
        {{ media }}
      {% if media_classes is not empty %}
        </div>
      {% endif %}
    </div>
    <div{{ end_column_attributes.addClass(end_column_classes) }}>
      <div{{ content_attributes.addClass(content_classes) }}>
        {{ content }}
      </div>
    </div>
  </div>
</div>
