{#
/**
 * @file
 * Varbase Components implementation to display an oEmbed resource in the heroslider component.
 *
 * Display in an iframe and add the right behavior player for the provider.
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html>
  <head>
    <css-placeholder token="{{ placeholder_token }}">
    <script src="{{ base_path }}{{ varbase_components_path }}/components/organisms/heroslider/js/oembed-frame.heroslider.{{ provider }}.js"></script>
  </head>
  <body style="margin: 0;">
    {{ media|raw }}
  </body>
</html>
